In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
data=pd.read_csv("/content/drive/MyDrive/Copy of Insurance Dataset.csv")
data

          Area_Service Hospital County  ...  Result Payment_Typology
0           Western NY        Allegany  ...       1                1
1           Western NY        Allegany  ...       1                1
2           Western NY        Allegany  ...       1                1
3           Western NY        Allegany  ...       0                1
4           Western NY        Allegany  ...       1                1
...                ...             ...  ...     ...              ...
1048570  New York City           Bronx  ...       1                3
1048571  New York City           Bronx  ...       1                3
1048572  New York City           Bronx  ...       0                3
1048573  New York City           Bronx  ...       1                3
1048574  New York City           Bronx  ...       1                2

[1048575 rows x 24 columns]

In [3]:
data.dropna(inplace=True)
data[data.duplicated()]
data.drop_duplicates(inplace=True)
data2=data[data['Gender']=='U'].index
data.drop(data2,inplace=True)
data.Days_spend_hsptl.unique()
data.replace({'Days_spend_hsptl': '120 +'}, 120, inplace=True)
data['Days_spend_hsptl'] = data['Days_spend_hsptl'].astype(int)
data

          Area_Service Hospital County  ...  Result Payment_Typology
0           Western NY        Allegany  ...       1                1
1           Western NY        Allegany  ...       1                1
2           Western NY        Allegany  ...       1                1
3           Western NY        Allegany  ...       0                1
4           Western NY        Allegany  ...       1                1
...                ...             ...  ...     ...              ...
1048570  New York City           Bronx  ...       1                3
1048571  New York City           Bronx  ...       1                3
1048572  New York City           Bronx  ...       0                3
1048573  New York City           Bronx  ...       1                3
1048574  New York City           Bronx  ...       1                2

[1041238 rows x 24 columns]

In [4]:
data.rename({"Hospital Id":"hospitalid","Hospital County":"hospitalcounty","Home or self care,":"homeorselfcare","Mortality risk":"mortalityrisk","Emergency dept_yes/No":"emergencydeptyes/no"},axis=1,inplace=True)

In [5]:
label=preprocessing.LabelEncoder()
data["Area_Service"]=label.fit_transform(data["Area_Service"])
data["hospitalcounty"]=label.fit_transform(data["hospitalcounty"])
data["Age"]=label.fit_transform(data["Age"])
data["Days_spend_hsptl"]=label.fit_transform(data["Days_spend_hsptl"])
data["Cultural_group"]=label.fit_transform(data["Cultural_group"])
data["ethnicity"]=label.fit_transform(data["ethnicity"])
data["Admission_type"]=label.fit_transform(data["Admission_type"])
data["homeorselfcare"]=label.fit_transform(data["homeorselfcare"])
data["apr_drg_description"]=label.fit_transform(data["apr_drg_description"])
data["Surg_Description"]=label.fit_transform(data["Surg_Description"])

In [6]:
data

         Area_Service  hospitalcounty  ...  Result  Payment_Typology
0                   6               1  ...       1                 1
1                   6               1  ...       1                 1
2                   6               1  ...       1                 1
3                   6               1  ...       0                 1
4                   6               1  ...       1                 1
...               ...             ...  ...     ...               ...
1048570             4               2  ...       1                 3
1048571             4               2  ...       1                 3
1048572             4               2  ...       0                 3
1048573             4               2  ...       1                 3
1048574             4               2  ...       1                 2

[1041238 rows x 24 columns]

In [7]:
data=pd.get_dummies(data,columns=['Gender','Abortion','emergencydeptyes/no'])

In [8]:
data

         Area_Service  ...  emergencydeptyes/no_Y
0                   6  ...                      1
1                   6  ...                      1
2                   6  ...                      1
3                   6  ...                      1
4                   6  ...                      1
...               ...  ...                    ...
1048570             4  ...                      1
1048571             4  ...                      0
1048572             4  ...                      1
1048573             4  ...                      1
1048574             4  ...                      1

[1041238 rows x 26 columns]

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
minmaxscaler=MinMaxScaler()

In [ ]:
x = data.drop(['Result'], axis=1)
y=data["Result"]

In [ ]:
x

         Area_Service  ...  emergencydeptyes/no_Y
0                   6  ...                      1
1                   6  ...                      1
2                   6  ...                      1
3                   6  ...                      1
4                   6  ...                      1
...               ...  ...                    ...
1048570             4  ...                      1
1048571             4  ...                      0
1048572             4  ...                      1
1048573             4  ...                      1
1048574             4  ...                      1

[1041238 rows x 25 columns]

In [ ]:
y

0          1
1          1
2          1
3          0
4          1
          ..
1048570    1
1048571    1
1048572    0
1048573    1
1048574    1
Name: Result, Length: 1041238, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42)
model.fit(x,y)
model.feature_importances_

array([0.01563923, 0.0249502 , 0.04292824, 0.03188963, 0.01852268,
       0.00956498, 0.05385686, 0.01098314, 0.0280893 , 0.06618221,
       0.0457193 , 0.0594581 , 0.0277289 , 0.01800568, 0.00391254,
       0.01542023, 0.15656256, 0.15665375, 0.15488398, 0.02537263,
       0.01149432, 0.01152776, 0.        , 0.00532584, 0.00532794])

In [ ]:
df=pd.DataFrame({"feature":x.columns,"importance":model.feature_importances_})

In [ ]:
df.sort_values("importance",ascending=False)

                                  feature  importance
17                               Tot_cost    0.156654
16                              Tot_charg    0.156563
18  ratio_of_total_costs_to_total_charges    0.154884
9                      ccs_diagnosis_code    0.066182
11                    apr_drg_description    0.059458
6                        Days_spend_hsptl    0.053857
10                     ccs_procedure_code    0.045719
2                              hospitalid    0.042928
3                                     Age    0.031890
8                          homeorselfcare    0.028089
12                           Code_illness    0.027729
19                       Payment_Typology    0.025373
1                          hospitalcounty    0.024950
4                          Cultural_group    0.018523
13                          mortalityrisk    0.018006
0                            Area_Service    0.015639
15                            Weight_baby    0.015420
21                               Gender_M    0.011528
20                               Gender_F    0.011494
7                          Admission_type    0.010983
5                               ethnicity    0.009565
24                  emergencydeptyes/no_Y    0.005328
23                  emergencydeptyes/no_N    0.005326
14                       Surg_Description    0.003913
22                             Abortion_N    0.000000

In [ ]:
# Feature Importance with Extra Trees Classifier

from sklearn.tree import  DecisionTreeClassifier

# feature extraction
model1 = DecisionTreeClassifier()
model1.fit(x, y)
print(model1.feature_importances_)

[0.012 0.015 0.032 0.031 0.018 0.01  0.047 0.011 0.03  0.063 0.041 0.055
 0.029 0.02  0.003 0.013 0.168 0.171 0.182 0.02  0.01  0.01  0.    0.004
 0.004]

In [ ]:
dt=pd.DataFrame({"feature":x.columns,"importance":model1.feature_importances_})
dt.sort_values("importance",ascending=False)

                                  feature  importance
18  ratio_of_total_costs_to_total_charges    0.182409
17                               Tot_cost    0.170524
16                              Tot_charg    0.167719
9                      ccs_diagnosis_code    0.063254
11                    apr_drg_description    0.055208
6                        Days_spend_hsptl    0.047301
10                     ccs_procedure_code    0.040570
2                              hospitalid    0.032020
3                                     Age    0.030945
8                          homeorselfcare    0.029851
12                           Code_illness    0.028902
13                          mortalityrisk    0.020378
19                       Payment_Typology    0.019795
4                          Cultural_group    0.018022
1                          hospitalcounty    0.015044
15                            Weight_baby    0.013141
0                            Area_Service    0.012013
7                          Admission_type    0.011380
5                               ethnicity    0.010140
21                               Gender_M    0.010058
20                               Gender_F    0.009981
23                  emergencydeptyes/no_N    0.004270
24                  emergencydeptyes/no_Y    0.003928
14                       Surg_Description    0.003149
22                             Abortion_N    0.000000

In [ ]:
# Feature Extraction with RFE

from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

# feature extraction
model = LogisticRegression(max_iter=700)
rfe = RFE(model, 3)
fit = rfe.fit(x, y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
# Feature Extraction with Univariate Statistical Tests (Chi-squared for classification)

from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# feature extraction
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(x, y)
# summarize scores
set_printoptions(precision=3)
print(fit.scores_)
features = fit.transform(x)

[1.051e-03 1.832e+01 1.326e+03 3.119e+00 6.957e-02 2.285e+00 7.390e+00
 3.100e+00 3.963e-01 1.437e+01 1.551e+01 1.376e+01 1.818e+00 3.584e+00
 3.313e+00 4.585e+04 1.283e+05 9.655e+04 3.203e-01 5.888e-01 3.281e-03
 4.267e-03 0.000e+00 4.231e+00 3.263e+00]

In [11]:
data.drop(["Tot_cost","Abortion_N","mortalityrisk","Tot_charg","apr_drg_description","Area_Service","hospitalcounty","hospitalid","ccs_diagnosis_code"],axis=1,inplace=True)

In [ ]:
data

         Age  Cultural_group  ...  emergencydeptyes/no_N  emergencydeptyes/no_Y
0          2               3  ...                      0                      1
1          4               3  ...                      0                      1
2          2               3  ...                      0                      1
3          0               3  ...                      0                      1
4          4               3  ...                      0                      1
...      ...             ...  ...                    ...                    ...
1048570    4               1  ...                      0                      1
1048571    0               1  ...                      1                      0
1048572    3               1  ...                      0                      1
1048573    2               0  ...                      0                      1
1048574    3               1  ...                      0                      1

[1041238 rows x 17 columns]

In [13]:
x=data.drop(["Result"],axis=1)

In [14]:
x

         Age  Cultural_group  ...  emergencydeptyes/no_N  emergencydeptyes/no_Y
0          2               3  ...                      0                      1
1          4               3  ...                      0                      1
2          2               3  ...                      0                      1
3          0               3  ...                      0                      1
4          4               3  ...                      0                      1
...      ...             ...  ...                    ...                    ...
1048570    4               1  ...                      0                      1
1048571    0               1  ...                      1                      0
1048572    3               1  ...                      0                      1
1048573    2               0  ...                      0                      1
1048574    3               1  ...                      0                      1

[1041238 rows x 16 columns]

In [15]:
y=data["Result"]

In [16]:
y

0          1
1          1
2          1
3          0
4          1
          ..
1048570    1
1048571    1
1048572    0
1048573    1
1048574    1
Name: Result, Length: 1041238, dtype: int64

In [17]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.3,random_state=40)

X_train=minmaxscaler.fit_transform(x_train)
X_test=minmaxscaler.fit_transform(x_test)

In [ ]:
from sklearn.tree import  DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
#Predicting on test data
preds = model.predict(x_test) # predicting on test data set 
pd.Series(preds).value_counts()

1    312372
dtype: int64

In [ ]:
preds

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
pd.crosstab(y_test,preds)

col_0        1
Result
0        78410
1       233962

In [ ]:
from sklearn.metrics import accuracy_score,classification_report
classification_report(y_test,preds)
              precision    recall  f1-score   support

           0       0.00      0.00      0.00     78410
           1       0.75      1.00      0.86    233962

    accuracy                           0.75    312372
   macro avg       0.37      0.50      0.43    312372
weighted avg       0.56      0.75      0.64    312372

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'              precision    recall  f1-score   support\n\n           0       0.00      0.00      0.00     78410\n           1       0.75      1.00      0.86    233962\n\n    accuracy                           0.75    312372\n   macro avg       0.37      0.50      0.43    312372\nweighted avg       0.56      0.75      0.64    312372\n'

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
x_train_smote, y_train_smote = smote.fit_sample(x_train,y_train)
from sklearn.tree import  DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3)
model.fit(x_train_smote,y_train_smote)
#Predicting on test data
preds = model.predict(x_test) # predicting on test data set 
pd.Series(preds).value_counts()
from sklearn.metrics import accuracy_score,classification_report
classification_report(y_test,preds)
              precision    recall  f1-score   support

           0       0.25      0.33      0.28     78410
           1       0.75      0.67      0.71    233962

    accuracy                           0.59    312372
   macro avg       0.50      0.50      0.50    312372
weighted avg       0.62      0.59      0.60    312372

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

'              precision    recall  f1-score   support\n\n           0       0.25      0.33      0.28     78410\n           1       0.75      0.67      0.71    233962\n\n    accuracy                           0.59    312372\n   macro avg       0.50      0.50      0.50    312372\nweighted avg       0.62      0.59      0.60    312372\n'

In [ ]:
# Accuracy 
np.mean(preds==y_test)

0.5869988347227024

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)

In [ ]:
model_gini.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
#Prediction and computing the accuracy
pred=model.predict(x_test)
np.mean(pred==y_test)
classification_report(y_test,preds)


              precision    recall  f1-score   support

           0       0.00      0.00      0.00     78410
           1       0.75      1.00      0.86    233962

    accuracy                           0.75    312372
   macro avg       0.37      0.50      0.43    312372
weighted avg       0.56      0.75      0.64    312372

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

'              precision    recall  f1-score   support\n\n           0       0.00      0.00      0.00     78410\n           1       0.75      1.00      0.86    233962\n\n    accuracy                           0.75    312372\n   macro avg       0.37      0.50      0.43    312372\nweighted avg       0.56      0.75      0.64    312372\n'

In [18]:
data0=data[data["Result"]==0]
data1=data[data["Result"]==1]
data1.shape,data0.shape

((780338, 17), (260900, 17))

In [19]:

# Class count
count_class_0, count_class_1 = data.Result.value_counts()
data1_under=data1.sample(count_class_1)
# Undersample 0-class and concat the DataFrames of both class
data1under = data1.sample(count_class_1)
data_test_under = pd.concat([data1_under, data0], axis=0)

print('Random under-sampling:')
print(data_test_under.Result.value_counts())
data_test_under

Random under-sampling:
1    260900
0    260900
Name: Result, dtype: int64

         Age  Cultural_group  ...  emergencydeptyes/no_N  emergencydeptyes/no_Y
450957     2               3  ...                      0                      1
1014915    1               1  ...                      1                      0
787631     3               1  ...                      1                      0
708408     3               3  ...                      0                      1
680542     3               3  ...                      1                      0
...      ...             ...  ...                    ...                    ...
1048557    0               1  ...                      0                      1
1048560    4               3  ...                      1                      0
1048565    0               1  ...                      0                      1
1048568    4               3  ...                      0                      1
1048572    3               1  ...                      0                      1

[521800 rows x 17 columns]

In [ ]:
X = data_test_under.drop('Result',axis='columns')
y = data_test_under['Result']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)
model_gini.fit(X_train, y_train) 
#Prediction and computing the accuracy
pred=model_gini.predict(X_test)
classification_report(y_test,pred)
              precision    recall  f1-score   support

           0       0.50      0.13      0.21     52180
           1       0.50      0.87      0.64     52180

    accuracy                           0.50    104360
   macro avg       0.50      0.50      0.42    104360
weighted avg       0.50      0.50      0.42    104360

'              precision    recall  f1-score   support\n\n           0       0.50      0.13      0.21     52180\n           1       0.50      0.87      0.64     52180\n\n    accuracy                           0.50    104360\n   macro avg       0.50      0.50      0.42    104360\nweighted avg       0.50      0.50      0.42    104360\n'

In [ ]:
import numpy as np
accuracy_score(y_test,pred)

0.5010252970486777

In [ ]:
# Oversample 1-class and concat the DataFrames of both classes
data0_over = data0.sample(count_class_0, replace=True)
data_test_over = pd.concat([data1, data0_over], axis=0)

print('Random over-sampling:')
print(data_test_over.Result.value_counts())
data_test_over

Random over-sampling:
1    780338
0    780338
Name: Result, dtype: int64

        Age  Cultural_group  ...  emergencydeptyes/no_Y  result
0         2               3  ...                      1       0
1         4               3  ...                      1       0
2         2               3  ...                      1       0
4         4               3  ...                      1       0
5         0               3  ...                      1       0
...     ...             ...  ...                    ...     ...
750160    3               1  ...                      1       0
409430    3               3  ...                      1       0
321966    4               3  ...                      1       0
557538    3               3  ...                      1       0
134687    4               3  ...                      1       0

[1560676 rows x 18 columns]

In [ ]:
X = data_test_over.drop('Result',axis='columns')
y = data_test_over['Result']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)
y_test.shape

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion='gini', max_depth=3)
model_gini.fit(X_train, y_train) 
#Prediction and computing the accuracy
pred=model_gini.predict(X_test)
classification_report(y_test,pred)
         

              precision    recall  f1-score   support

           0       0.50      0.45      0.47    156068
           1       0.50      0.56      0.53    156068

    accuracy                           0.50    312136
   macro avg       0.50      0.50      0.50    312136
weighted avg       0.50      0.50      0.50    312136

'              precision    recall  f1-score   support\n\n           0       0.50      0.45      0.47    156068\n           1       0.50      0.56      0.53    156068\n\n    accuracy                           0.50    312136\n   macro avg       0.50      0.50      0.50    312136\nweighted avg       0.50      0.50      0.50    312136\n'

In [ ]:
accuracy_score(y_test,pred)

0.5012046031217162

In [ ]:
# Decision Tree Regression
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(x_train, y_train) 
model.predict(x)

array([1., 1., 1., ..., 0., 1., 1.])

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split # train and test 
from sklearn import metrics
from sklearn import preprocessing
from sklearn.metrics import classification_report

# Model building 
from sklearn.linear_model import LogisticRegression


classifier = LogisticRegression()
classifier.fit(x,y)

classifier.coef_ # coefficients of features 
classifier.predict_proba (x) # Probability values 

y_pred = classifier.predict(x)
data["y_pred"] = y_pred
y_prob = pd.DataFrame(classifier.predict_proba(x.iloc[:,:]))
new_df = pd.concat([data,y_prob],axis=1)
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y,y_pred)
print (confusion_matrix)
type(y_pred)

pd.crosstab(y_pred,y)
accuracy = sum(y==y_pred)/data.shape[0]

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

[[     0 260900]
 [     0 780338]]

In [ ]:
accuracy

0.7494328866215024

In [21]:
import pandas as pd 
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing

In [ ]:
# Random Forest Classification
num_trees = 100
max_features = 3
kfold = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, x, y, cv=kfold) 
print(results.mean())

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.6927849574294915

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()
x_train_smote, y_train_smote = smote.fit_sample(x_train,y_train)
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42)
model.fit(x_train_smote,y_train_smote)
#Predicting on test data
preds = model.predict(x_test) # predicting on test data set 
pd.Series(preds).value_counts()
from sklearn.metrics import accuracy_score,classification_report
classification_report(y_test,preds)
              precision    recall  f1-score   support

           0       0.25      0.22      0.24     78410
           1       0.75      0.78      0.76    233962

    accuracy                           0.64    312372
   macro avg       0.50      0.50      0.50    312372
weighted avg       0.62      0.64      0.63    312372

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

'              precision    recall  f1-score   support\n\n           0       0.25      0.22      0.24     78410\n           1       0.75      0.78      0.76    233962\n\n    accuracy                           0.64    312372\n   macro avg       0.50      0.50      0.50    312372\nweighted avg       0.62      0.64      0.63    312372\n'

In [22]:
# Class count
count_class_0, count_class_1 = data.Result.value_counts()
data1_under=data1.sample(count_class_1)
# Undersample 0-class and concat the DataFrames of both class
data1under = data1.sample(count_class_1)
data_test_under = pd.concat([data1_under, data0], axis=0)
from sklearn.ensemble import RandomForestClassifier
print('Random under-sampling:')
print(data_test_under.Result.value_counts())
X = data_test_under.drop('Result',axis='columns')
y = data_test_under['Result']
num_trees = 100
max_features = 3
kfold = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, X, y, cv=kfold) 
print(results.mean())
classification_report(model, X, y,cv=kfold)

Random under-sampling:
1    260900
0    260900
Name: Result, dtype: int64

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.27984860099655035

In [29]:
from sklearn.metrics import accuracy_score,classification_report
model.fit(X_train,y_train)
pred1=model.predict(X_test)
classification_report(pred1,y_test)

array([1, 1, 1, ..., 1, 1, 1])

In [31]:
pred1=model.predict(X_test)
classification_report(pred1,y_test)
              precision    recall  f1-score   support

           0       0.11      0.25      0.16     35166
           1       0.89      0.75      0.81    277206

    accuracy                           0.69    312372
   macro avg       0.50      0.50      0.48    312372
weighted avg       0.80      0.69      0.74    312372

'              precision    recall  f1-score   support\n\n           0       0.11      0.25      0.16     35166\n           1       0.89      0.75      0.81    277206\n\n    accuracy                           0.69    312372\n   macro avg       0.50      0.50      0.48    312372\nweighted avg       0.80      0.69      0.74    312372\n'

In [ ]:
# Stacking Ensemble for Classification

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

kfold = KFold(n_splits=10, random_state=7)

# create the sub models
estimators = []
model1 = LogisticRegression(max_iter=500)
estimators.append(('logistic', model1))
model2 = DecisionTreeClassifier()
estimators.append(('cart', model2))
model3 = SVC()
estimators.append(('svm', model3))

# create the ensemble model
ensemble = VotingClassifier(estimators)
results = cross_val_score(ensemble, X, y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

In [ ]:
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB
# Gaussian Naive Bayes 
classifier_gb = GB()
classifier_gb.fit(x_train,y_train)
from sklearn.metrics import accuracy_score
y_pred = classifier_gb.predict(x_test) # store the prediction data
accuracy_score(y_test,y_pred) # calculate the accuracy

0.7475606008220967

In [ ]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(x_train,y_train)
y_pred = classifier_mb.predict(x_test)
accuracy_score(y_test,y_pred)

0.7068911426120139

In [ ]:
from sklearn.svm import SVC
model_linear = SVC(kernel = "linear")
model_linear.fit(X_train,y_train)
pred_test_linear = model_linear.predict(X_test)

np.mean(pred_test_linear==y_test)

In [ ]:

from sklearn.svm import SVC
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(x_train,y_train)
pred_test_poly = model_poly.predict(x_test)
np.mean(pred_test_poly==y_test)

In [ ]:

from sklearn.svm import SVC
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(x_train,y_train)
pred_test_rbf = model_rbf.predict(x_test)

np.mean(pred_test_rbf==y_test)

In [ ]:
#Grid Search CV
clf = SVC()
param_grid = [{'kernel':['linear'],'gamma':[5,10,0.5],'C':[11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)

In [ ]:

gsv.best_params_ , gsv.best_score_

In [ ]:
clf = SVC(C= 11, gamma = 5)
clf.fit(X_train , y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix_matrix(y_test, y_pred)

In [ ]:
from sklearn.svm import SVC
clf=SVC()

In [ ]:
clf.fit(X_train,y_train)

In [ ]:
pred=clf.predict(X_test)

In [ ]:
np.mean(pred==y_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import KFold
import numpy as np
from sklearn.model_selection import GridSearchCV

In [ ]:
10.0 **np.arange(-2,3)


log_class=LogisticRegression()
grid={'C':10.0 **np.arange(-2,3),'penalty':['l1','l2']}
cv=KFold(n_splits=5,random_state=None,shuffle=False)

In [ ]:

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,train_size=0.7)

clf=GridSearchCV(log_class,grid,cv=cv,n_jobs=-1,scoring='f1_macro')
clf.fit(X_train,y_train)